# =========================
# Data
# =========================
data/raw/
data/processed/train/
data/processed/val/

# keep test data for demo
!data/processed/test/

# =========================
# Virtual Environment
# =========================
venv/
.venv/